.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #626262;
  max-width: 400px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.button {
  height: 40px;
  border: 1px solid #626262;
  color: black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: #b7b7b7;
  }
}